In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
## Source: https://www.statsmodels.org/stable/datasets/generated/macrodata.html

data = pd.read_csv('macrodata-2.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      203 non-null    float64
 1   quarter   203 non-null    float64
 2   realgdp   203 non-null    float64
 3   realcons  203 non-null    float64
 4   realinv   203 non-null    float64
 5   realgovt  203 non-null    float64
 6   realdpi   203 non-null    float64
 7   cpi       203 non-null    float64
 8   m1        203 non-null    float64
 9   tbilrate  203 non-null    float64
 10  unemp     203 non-null    float64
 11  pop       203 non-null    float64
 12  infl      203 non-null    float64
 13  realint   203 non-null    float64
dtypes: float64(14)
memory usage: 22.3 KB

In [3]:
data.head()

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [4]:
## Creating a time based index of periods consisting of the year and quarter

periods = pd.PeriodIndex(year = data.year, quarter = data.quarter, name = 'date')

periods

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', name='date', length=203)

In [5]:
## Changing '1959Q1' to a date '1959-01-01'

periods.to_timestamp('D', 'start')

DatetimeIndex(['1959-01-01', '1959-04-01', '1959-07-01', '1959-10-01',
               '1960-01-01', '1960-04-01', '1960-07-01', '1960-10-01',
               '1961-01-01', '1961-04-01',
               ...
               '2007-04-01', '2007-07-01', '2007-10-01', '2008-01-01',
               '2008-04-01', '2008-07-01', '2008-10-01', '2009-01-01',
               '2009-04-01', '2009-07-01'],
              dtype='datetime64[ns]', name='date', length=203, freq='QS-OCT')

In [6]:
## Current index is just integers and we want to replace it

data.index

RangeIndex(start=0, stop=203, step=1)

In [7]:
## Specifying a new index directly

data.index = periods.to_timestamp('D', 'start')

In [8]:
## Selecting the columns with the items to focus on

columns = pd.Index(['realgdp', 'realint', 'infl', 'cpi', 'unemp'], name = 'item')

columns

Index(['realgdp', 'realint', 'infl', 'cpi', 'unemp'], dtype='object', name='item')

In [9]:
## Conforming to the column index specified

data = data.reindex(columns = columns)

data.head()

item         realgdp  realint  infl    cpi  unemp
date
1959-01-01  2710.349     0.00  0.00  28.98    5.8
1959-04-01  2778.801     0.74  2.34  29.15    5.1
1959-07-01  2775.488     1.09  2.74  29.35    5.3
1959-10-01  2785.204     4.06  0.27  29.37    5.6
1960-01-01  2847.699     1.19  2.31  29.54    5.2

In [10]:
## Stacking to create a series (if needed)
## No need to reset index to create a new column and index

data.stack().head(10)

date        item
1959-01-01  realgdp    2710.349
            realint       0.000
            infl          0.000
            cpi          28.980
            unemp         5.800
1959-04-01  realgdp    2778.801
            realint       0.740
            infl          2.340
            cpi          29.150
            unemp         5.100
dtype: float64

In [11]:
## Filtering the data where inflation is less than or equal to 2%

data.loc[data.infl <= 2]

item          realgdp  realint  infl      cpi  unemp
date
1959-01-01   2710.349     0.00  0.00   28.980    5.8
1959-10-01   2785.204     4.06  0.27   29.370    5.6
1960-04-01   2834.390     2.55  0.14   29.550    5.2
1960-10-01   2802.616     1.08  1.21   29.840    6.3
1961-01-01   2819.264     2.77 -0.40   29.810    6.8
1961-04-01   2872.005     0.81  1.47   29.920    7.0
1961-07-01   2918.419     1.52  0.80   29.980    6.8
1961-10-01   2977.830     1.80  0.80   30.040    6.2
1962-04-01   3064.709     2.65  0.13   30.220    5.5
1962-10-01   3100.563     2.08  0.79   30.440    5.5
1963-01-01   3141.087     2.38  0.53   30.480    5.8
1963-07-01   3240.332     2.60  0.78   30.750    5.5
1964-01-01   3338.246     3.38  0.13   30.950    5.5
1964-04-01   3376.587     2.57  0.90   31.020    5.2
1964-07-01   3422.469     2.25  1.29   31.120    5.0
1965-01-01   3516.251     2.65  1.28   31.380    4.9
1965-07-01   3636.285     3.04  0.89   31.650    4.4
1966-10-01   3884.520     4.39  0.61   32.900    3.7
1971-01-01   4374.016     1.65  2.00   40.100    5.9
1982-10-01   5871.001     8.77 -0.82   97.900   10.7
1986-01-01   7022.757    10.95 -4.39  108.700    7.0
1991-01-01   7950.164     4.65  1.19  135.100    6.6
1993-04-01   8486.435     1.08  1.94  144.500    7.1
1993-10-01   8643.769     1.13  1.92  146.300    6.6
1997-01-01   9666.235     3.85  1.25  159.900    5.2
1997-04-01   9809.551     3.76  1.25  160.400    5.0
1997-10-01  10008.874     3.88  1.24  162.000    4.7
1998-01-01  10103.425     4.53  0.49  162.200    4.6
1998-07-01  10328.787     2.78  1.71  163.900    4.5
1998-10-01  10507.575     2.43  1.95  164.700    4.4
1999-04-01  10684.049     2.62  1.92  166.700    4.3
2001-01-01  11297.171     2.57  1.82  176.400    4.2
2001-07-01  11340.075     2.27  0.45  177.600    4.8
2001-10-01  11380.128     1.51  0.23  177.700    5.5
2002-04-01  11538.770     0.14  1.56  180.000    5.8
2003-01-01  11645.819    -0.17  1.31  183.200    5.9
2003-04-01  11738.706    -0.13  1.09  183.700    6.2
2005-04-01  12587.535     1.16  1.85  194.700    5.1
2005-10-01  12748.699     3.60  0.40  199.400    4.9
2006-07-01  12965.916     6.48 -1.58  201.900    4.7
2008-07-01  13324.600     4.33 -3.16  216.889    6.0
2008-10-01  13141.920     8.91 -8.79  212.174    6.9
2009-01-01  12925.410    -0.71  0.94  212.671    8.1

In [12]:
## Exporting the filtered data into a new csv file

f_data = data.loc[data.infl <= 2]
f_data.to_csv('filtered.csv')

In [13]:
f_data.describe()

item        realgdp   realint       infl         cpi      unemp
count     43.000000  43.00000  43.000000   43.000000  43.000000
mean    7361.221233   2.89814   0.450930  108.770558   5.706977
std     4034.207853   2.37519   1.917848   73.488477   1.227346
min     2710.349000  -0.71000  -8.790000   28.980000   3.700000
25%     3190.709500   1.51500   0.250000   30.615000   4.900000
50%     7950.164000   2.57000   0.890000  135.100000   5.500000
75%    11318.623000   3.80500   1.300000  177.000000   6.250000
max    13324.600000  10.95000   2.000000  216.889000  10.700000

In [15]:
data.describe()

item        realgdp     realint        infl         cpi       unemp
count    203.000000  203.000000  203.000000  203.000000  203.000000
mean    7221.171901    1.336502    3.961330  105.075788    5.884729
std     3214.956044    2.668799    3.253216   61.278878    1.458574
min     2710.349000   -6.790000   -8.790000   28.980000    3.400000
25%     4440.103500   -0.085000    2.270000   41.050000    4.900000
50%     6559.594000    1.340000    3.240000  104.100000    5.700000
75%     9629.346500    2.630000    4.975000  159.650000    6.800000
max    13415.266000   10.950000   14.620000  218.610000   10.700000

In [14]:
## Sorting filtered data by unemployment rate to see even with inflation rate less than or equal to 2% the U.S. economy fell into a recession

f_data.sort_values(by = "unemp", ascending = False)

item          realgdp  realint  infl      cpi  unemp
date
1982-10-01   5871.001     8.77 -0.82   97.900   10.7
2009-01-01  12925.410    -0.71  0.94  212.671    8.1
1993-04-01   8486.435     1.08  1.94  144.500    7.1
1961-04-01   2872.005     0.81  1.47   29.920    7.0
1986-01-01   7022.757    10.95 -4.39  108.700    7.0
2008-10-01  13141.920     8.91 -8.79  212.174    6.9
1961-01-01   2819.264     2.77 -0.40   29.810    6.8
1961-07-01   2918.419     1.52  0.80   29.980    6.8
1993-10-01   8643.769     1.13  1.92  146.300    6.6
1991-01-01   7950.164     4.65  1.19  135.100    6.6
1960-10-01   2802.616     1.08  1.21   29.840    6.3
2003-04-01  11738.706    -0.13  1.09  183.700    6.2
1961-10-01   2977.830     1.80  0.80   30.040    6.2
2008-07-01  13324.600     4.33 -3.16  216.889    6.0
1971-01-01   4374.016     1.65  2.00   40.100    5.9
2003-01-01  11645.819    -0.17  1.31  183.200    5.9
1963-01-01   3141.087     2.38  0.53   30.480    5.8
2002-04-01  11538.770     0.14  1.56  180.000    5.8
1959-01-01   2710.349     0.00  0.00   28.980    5.8
1959-10-01   2785.204     4.06  0.27   29.370    5.6
1962-10-01   3100.563     2.08  0.79   30.440    5.5
1964-01-01   3338.246     3.38  0.13   30.950    5.5
1963-07-01   3240.332     2.60  0.78   30.750    5.5
1962-04-01   3064.709     2.65  0.13   30.220    5.5
2001-10-01  11380.128     1.51  0.23  177.700    5.5
1960-04-01   2834.390     2.55  0.14   29.550    5.2
1997-01-01   9666.235     3.85  1.25  159.900    5.2
1964-04-01   3376.587     2.57  0.90   31.020    5.2
2005-04-01  12587.535     1.16  1.85  194.700    5.1
1964-07-01   3422.469     2.25  1.29   31.120    5.0
1997-04-01   9809.551     3.76  1.25  160.400    5.0
2005-10-01  12748.699     3.60  0.40  199.400    4.9
1965-01-01   3516.251     2.65  1.28   31.380    4.9
2001-07-01  11340.075     2.27  0.45  177.600    4.8
2006-07-01  12965.916     6.48 -1.58  201.900    4.7
1997-10-01  10008.874     3.88  1.24  162.000    4.7
1998-01-01  10103.425     4.53  0.49  162.200    4.6
1998-07-01  10328.787     2.78  1.71  163.900    4.5
1998-10-01  10507.575     2.43  1.95  164.700    4.4
1965-07-01   3636.285     3.04  0.89   31.650    4.4
1999-04-01  10684.049     2.62  1.92  166.700    4.3
2001-01-01  11297.171     2.57  1.82  176.400    4.2
1966-10-01   3884.520     4.39  0.61   32.900    3.7

In [16]:
## Data Visualization