In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
## Source: https://www.statsmodels.org/stable/datasets/generated/macrodata.html

data = pd.read_csv('macrodata-2.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      203 non-null    float64
 1   quarter   203 non-null    float64
 2   realgdp   203 non-null    float64
 3   realcons  203 non-null    float64
 4   realinv   203 non-null    float64
 5   realgovt  203 non-null    float64
 6   realdpi   203 non-null    float64
 7   cpi       203 non-null    float64
 8   m1        203 non-null    float64
 9   tbilrate  203 non-null    float64
 10  unemp     203 non-null    float64
 11  pop       203 non-null    float64
 12  infl      203 non-null    float64
 13  realint   203 non-null    float64
dtypes: float64(14)
memory usage: 22.3 KB

In [3]:
data.head()

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [4]:
## Creating a time based index of periods consisting of the year and quarter

periods = pd.PeriodIndex(year = data.year, quarter = data.quarter, name = 'date')

periods

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', name='date', length=203)

In [5]:
## Changing '1959Q1' to a date '1959-01-01'

periods.to_timestamp('D', 'start')

DatetimeIndex(['1959-01-01', '1959-04-01', '1959-07-01', '1959-10-01',
               '1960-01-01', '1960-04-01', '1960-07-01', '1960-10-01',
               '1961-01-01', '1961-04-01',
               ...
               '2007-04-01', '2007-07-01', '2007-10-01', '2008-01-01',
               '2008-04-01', '2008-07-01', '2008-10-01', '2009-01-01',
               '2009-04-01', '2009-07-01'],
              dtype='datetime64[ns]', name='date', length=203, freq='QS-OCT')

In [6]:
## Current index is just integers and we want to replace it

data.index

RangeIndex(start=0, stop=203, step=1)

In [7]:
## Specifying a new index directly

data.index = periods.to_timestamp('D', 'start')

In [8]:
## Selecting the columns with the items to focus on

columns = pd.Index(['realgdp', 'realcons', 'realinv', 'cpi', 'unemp', 'infl', 'realint'], name = 'item')

columns

Index(['realgdp', 'realcons', 'realinv', 'cpi', 'unemp', 'infl', 'realint'], dtype='object', name='item')

In [9]:
## Conforming to the column index specified

data = data.reindex(columns = columns)

data.head()

item         realgdp  realcons  realinv    cpi  unemp  infl  realint
date
1959-01-01  2710.349    1707.4  286.898  28.98    5.8  0.00     0.00
1959-04-01  2778.801    1733.7  310.859  29.15    5.1  2.34     0.74
1959-07-01  2775.488    1751.8  289.226  29.35    5.3  2.74     1.09
1959-10-01  2785.204    1753.7  299.356  29.37    5.6  0.27     4.06
1960-01-01  2847.699    1770.5  331.722  29.54    5.2  2.31     1.19

In [10]:
## Stacking to create a series (if needed)
## No need to reset index to create a new column and index

data.stack().head(10)

date        item
1959-01-01  realgdp     2710.349
            realcons    1707.400
            realinv      286.898
            cpi           28.980
            unemp          5.800
            infl           0.000
            realint        0.000
1959-04-01  realgdp     2778.801
            realcons    1733.700
            realinv      310.859
dtype: float64

In [11]:
## Filtering the data where inflation is less than or equal to 2%

data.loc[data.infl <= 2]

item          realgdp  realcons   realinv      cpi  unemp  infl  realint
date
1959-01-01   2710.349    1707.4   286.898   28.980    5.8  0.00     0.00
1959-10-01   2785.204    1753.7   299.356   29.370    5.6  0.27     4.06
1960-04-01   2834.390    1792.9   298.152   29.550    5.2  0.14     2.55
1960-10-01   2802.616    1788.2   259.764   29.840    6.3  1.21     1.08
1961-01-01   2819.264    1787.7   266.405   29.810    6.8 -0.40     2.77
1961-04-01   2872.005    1814.3   286.246   29.920    7.0  1.47     0.81
1961-07-01   2918.419    1823.1   310.227   29.980    6.8  0.80     1.52
1961-10-01   2977.830    1859.6   315.463   30.040    6.2  0.80     1.80
1962-04-01   3064.709    1902.5   331.039   30.220    5.5  0.13     2.65
1962-10-01   3100.563    1945.1   325.650   30.440    5.5  0.79     2.08
1963-01-01   3141.087    1958.2   343.721   30.480    5.8  0.53     2.38
1963-07-01   3240.332    2003.8   360.102   30.750    5.5  0.78     2.60
1964-01-01   3338.246    2060.5   379.523   30.950    5.5  0.13     3.38
1964-04-01   3376.587    2096.7   377.778   31.020    5.2  0.90     2.57
1964-07-01   3422.469    2135.2   386.754   31.120    5.0  1.29     2.25
1965-01-01   3516.251    2188.8   429.145   31.380    4.9  1.28     2.65
1965-07-01   3636.285    2251.0   444.444   31.650    4.4  0.89     3.04
1966-10-01   3884.520    2391.4   472.957   32.900    3.7  0.61     4.39
1971-01-01   4374.016    2802.2   517.935   40.100    5.9  2.00     1.65
1982-10-01   5871.001    3947.9   622.930   97.900   10.7 -0.82     8.77
1986-01-01   7022.757    4639.3   967.442  108.700    7.0 -4.39    10.95
1991-01-01   7950.164    5284.4   896.210  135.100    6.6  1.19     4.65
1993-04-01   8486.435    5671.1  1063.263  144.500    7.1  1.94     1.08
1993-10-01   8643.769    5783.7  1118.583  146.300    6.6  1.92     1.13
1997-01-01   9666.235    6430.2  1451.304  159.900    5.2  1.25     3.85
1997-04-01   9809.551    6456.2  1543.976  160.400    5.0  1.25     3.76
1997-10-01  10008.874    6641.1  1596.523  162.000    4.7  1.24     3.88
1998-01-01  10103.425    6707.2  1672.732  162.200    4.6  0.49     4.53
1998-07-01  10328.787    6913.1  1700.071  163.900    4.5  1.71     2.78
1998-10-01  10507.575    7019.1  1754.743  164.700    4.4  1.95     2.43
1999-04-01  10684.049    7199.9  1803.674  166.700    4.3  1.92     2.62
2001-01-01  11297.171    7744.3  1882.691  176.400    4.2  1.82     2.57
2001-07-01  11340.075    7807.7  1837.074  177.600    4.8  0.45     2.27
2001-10-01  11380.128    7930.0  1731.189  177.700    5.5  0.23     1.51
2002-04-01  11538.770    7997.8  1810.779  180.000    5.8  1.56     0.14
2003-01-01  11645.819    8122.3  1813.141  183.200    5.9  1.31    -0.17
2003-04-01  11738.706    8197.8  1823.698  183.700    6.2  1.09    -0.13
2005-04-01  12587.535    8802.9  2131.468  194.700    5.1  1.85     1.16
2005-10-01  12748.699    8888.5  2232.193  199.400    4.9  0.40     3.60
2006-07-01  12965.916    9090.7  2229.636  201.900    4.7 -1.58     6.48
2008-07-01  13324.600    9267.7  1990.693  216.889    6.0 -3.16     4.33
2008-10-01  13141.920    9195.3  1857.661  212.174    6.9 -8.79     8.91
2009-01-01  12925.410    9209.2  1558.494  212.671    8.1  0.94    -0.71

In [12]:
## Exporting the filtered data into a new csv file

f_data = data.loc[data.infl <= 2]
f_data.to_csv('filtered.csv')

In [13]:
f_data.describe()

item,realgdp,realcons,realinv,cpi,unemp,infl,realint
count,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.00000
mean,7361.221233,4953.713953,1064.691326,108.770558,5.706977,0.450930,2.89814
std,4034.207853,2884.194618,714.209922,73.488477,1.227346,1.917848,2.37519
min,2710.349000,1707.400000,259.764000,28.980000,3.700000,-8.790000,-0.71000
25%,3190.709500,1981.000000,351.911500,30.615000,4.900000,0.250000,1.51500
50%,7950.164000,5284.400000,967.442000,135.100000,5.500000,0.890000,2.57000
75%,11318.623000,7776.000000,1779.208500,177.000000,6.250000,1.300000,3.80500
max,13324.600000,9267.700000,2232.193000,216.889000,10.700000,2.000000,10.95000

In [14]:
data.describe()

item,realgdp,realcons,realinv,cpi,unemp,infl,realint
count,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000,203.000000
mean,7221.171901,4825.293103,1012.863862,105.075788,5.884729,3.961330,1.336502
std,3214.956044,2313.346192,585.102267,61.278878,1.458574,3.253216,2.668799
min,2710.349000,1707.400000,259.764000,28.980000,3.400000,-8.790000,-6.790000
25%,4440.103500,2874.100000,519.147500,41.050000,4.900000,2.270000,-0.085000
50%,6559.594000,4299.900000,896.210000,104.100000,5.700000,3.240000,1.340000
75%,9629.346500,6398.150000,1436.681500,159.650000,6.800000,4.975000,2.630000
max,13415.266000,9363.600000,2264.721000,218.610000,10.700000,14.620000,10.950000

In [15]:
## Sorting filtered data by unemployment rate to see even with inflation rate less than or equal to 2% the U.S. economy fell into a recession

f_data.sort_values(by = "unemp", ascending = False)

item          realgdp  realcons   realinv      cpi  unemp  infl  realint
date
1982-10-01   5871.001    3947.9   622.930   97.900   10.7 -0.82     8.77
2009-01-01  12925.410    9209.2  1558.494  212.671    8.1  0.94    -0.71
1993-04-01   8486.435    5671.1  1063.263  144.500    7.1  1.94     1.08
1961-04-01   2872.005    1814.3   286.246   29.920    7.0  1.47     0.81
1986-01-01   7022.757    4639.3   967.442  108.700    7.0 -4.39    10.95
2008-10-01  13141.920    9195.3  1857.661  212.174    6.9 -8.79     8.91
1961-01-01   2819.264    1787.7   266.405   29.810    6.8 -0.40     2.77
1961-07-01   2918.419    1823.1   310.227   29.980    6.8  0.80     1.52
1993-10-01   8643.769    5783.7  1118.583  146.300    6.6  1.92     1.13
1991-01-01   7950.164    5284.4   896.210  135.100    6.6  1.19     4.65
1960-10-01   2802.616    1788.2   259.764   29.840    6.3  1.21     1.08
2003-04-01  11738.706    8197.8  1823.698  183.700    6.2  1.09    -0.13
1961-10-01   2977.830    1859.6   315.463   30.040    6.2  0.80     1.80
2008-07-01  13324.600    9267.7  1990.693  216.889    6.0 -3.16     4.33
1971-01-01   4374.016    2802.2   517.935   40.100    5.9  2.00     1.65
2003-01-01  11645.819    8122.3  1813.141  183.200    5.9  1.31    -0.17
1963-01-01   3141.087    1958.2   343.721   30.480    5.8  0.53     2.38
2002-04-01  11538.770    7997.8  1810.779  180.000    5.8  1.56     0.14
1959-01-01   2710.349    1707.4   286.898   28.980    5.8  0.00     0.00
1959-10-01   2785.204    1753.7   299.356   29.370    5.6  0.27     4.06
1962-10-01   3100.563    1945.1   325.650   30.440    5.5  0.79     2.08
1964-01-01   3338.246    2060.5   379.523   30.950    5.5  0.13     3.38
1963-07-01   3240.332    2003.8   360.102   30.750    5.5  0.78     2.60
1962-04-01   3064.709    1902.5   331.039   30.220    5.5  0.13     2.65
2001-10-01  11380.128    7930.0  1731.189  177.700    5.5  0.23     1.51
1960-04-01   2834.390    1792.9   298.152   29.550    5.2  0.14     2.55
1997-01-01   9666.235    6430.2  1451.304  159.900    5.2  1.25     3.85
1964-04-01   3376.587    2096.7   377.778   31.020    5.2  0.90     2.57
2005-04-01  12587.535    8802.9  2131.468  194.700    5.1  1.85     1.16
1964-07-01   3422.469    2135.2   386.754   31.120    5.0  1.29     2.25
1997-04-01   9809.551    6456.2  1543.976  160.400    5.0  1.25     3.76
2005-10-01  12748.699    8888.5  2232.193  199.400    4.9  0.40     3.60
1965-01-01   3516.251    2188.8   429.145   31.380    4.9  1.28     2.65
2001-07-01  11340.075    7807.7  1837.074  177.600    4.8  0.45     2.27
2006-07-01  12965.916    9090.7  2229.636  201.900    4.7 -1.58     6.48
1997-10-01  10008.874    6641.1  1596.523  162.000    4.7  1.24     3.88
1998-01-01  10103.425    6707.2  1672.732  162.200    4.6  0.49     4.53
1998-07-01  10328.787    6913.1  1700.071  163.900    4.5  1.71     2.78
1998-10-01  10507.575    7019.1  1754.743  164.700    4.4  1.95     2.43
1965-07-01   3636.285    2251.0   444.444   31.650    4.4  0.89     3.04
1999-04-01  10684.049    7199.9  1803.674  166.700    4.3  1.92     2.62
2001-01-01  11297.171    7744.3  1882.691  176.400    4.2  1.82     2.57
1966-10-01   3884.520    2391.4   472.957   32.900    3.7  0.61     4.39

### Need to analyze more recent U.S. Real Interest Rate (%) data

In [16]:
## Importing U.S. Real Interest Rate (%) Data
## Source: https://www.kaggle.com/datasets/nicolasgonzalezmunoz/world-bank-world-development-indicators

data2 = pd.read_csv('world_bank_development_indicators.csv')

In [17]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16780 entries, 0 to 16779
Data columns (total 50 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    16780 non-null  object
 1   date                                       16780 non-null  object
 2   agricultural_land%                         15298 non-null  float64
 3   forest_land%                               7914 non-null   float64
 4   land_area                                  15608 non-null  float64
 5   avg_precipitation                          10086 non-null  float64
 6   trade_in_services%                         9165 non-null   float64
 7   control_of_corruption_estimate             4564 non-null   float64
 8   control_of_corruption_std                  4564 non-null   float64
 9   access_to_electricity%                     7348 non-null   float64
 10  renewvable_energy_consumption%             8076 non-null   float64
 11  electric_power_consumption                 7790 non-null   float64
 12  CO2_emisions                               7408 non-null   float64
 13  other_greenhouse_emisions                  7408 non-null   float64
 14  population_density                         15579 non-null  float64
 15  inflation_annual%                          10775 non-null  float64
 16  real_interest_rate                         4397 non-null   float64
 17  risk_premium_on_lending                    2367 non-null   float64
 18  research_and_development_expenditure%      2776 non-null   float64
 19  central_goverment_debt%                    2069 non-null   float64
 20  tax_revenue%                               5079 non-null   float64
 21  expense%                                   4733 non-null   float64
 22  goverment_effectiveness_estimate           4540 non-null   float64
 23  goverment_effectiveness_std                4540 non-null   float64
 24  human_capital_index                        601 non-null    float64
 25  doing_business                             189 non-null    float64
 26  time_to_get_operation_license              362 non-null    float64
 27  statistical_performance_indicators         689 non-null    float64
 28  individuals_using_internet%                7975 non-null   float64
 29  logistic_performance_index                 1407 non-null   float64
 30  military_expenditure%                      9917 non-null   float64
 31  GDP_current_US                             13365 non-null  float64
 32  political_stability_estimate               4615 non-null   float64
 33  political_stability_std                    4615 non-null   float64
 34  rule_of_law_estimate                       4654 non-null   float64
 35  rule_of_law_std                            4654 non-null   float64
 36  regulatory_quality_estimate                4542 non-null   float64
 37  regulatory_quality_std                     4542 non-null   float64
 38  government_expenditure_on_education%       5951 non-null   float64
 39  government_health_expenditure%             4938 non-null   float64
 40  multidimensional_poverty_headcount_ratio%  494 non-null    float64
 41  gini_index                                 1936 non-null   float64
 42  birth_rate                                 16037 non-null  float64
 43  death_rate                                 16019 non-null  float64
 44  life_expectancy_at_birth                   15866 non-null  float64
 45  population                                 16665 non-null  float64
 46  rural_population                           16539 non-null  float64
 47  voice_and_accountability_estimate          4648 non-null   float64
 48  voice_and_accountability_std               4648 non-null   float64
 49  intentional_homicides                      4209 non-null   float64
dtypes: float64(48), object(2)
memory usage: 6.4+ MB

In [18]:
data2.head()

,country,date,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
0,Afghanistan,1960-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50.340,31.921,32.535,8622466.0,7898093.0,NaN,NaN,NaN
1,Afghanistan,1961-01-01,57.801696,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.443,31.349,33.068,8790140.0,8026804.0,NaN,NaN,NaN
2,Afghanistan,1962-01-01,57.893688,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.570,30.845,33.547,8969047.0,8163985.0,NaN,NaN,NaN
3,Afghanistan,1963-01-01,57.970348,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.703,30.359,34.016,9157465.0,8308019.0,NaN,NaN,NaN
4,Afghanistan,1964-01-01,58.066940,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.831,29.867,34.494,9355514.0,8458694.0,NaN,NaN,NaN

In [19]:
columns = pd.Index(['country', 'date', 'inflation_annual%', 'real_interest_rate', 'risk_premium_on_lending', 'doing_business', 'GDP_current_US', 'gini_index'], name = 'item')

columns

Index(['country', 'date', 'inflation_annual%', 'real_interest_rate',
       'risk_premium_on_lending', 'doing_business', 'GDP_current_US',
       'gini_index'],
      dtype='object', name='item')

In [20]:
## Conforming to the column index specified

data2 = data2.reindex(columns = columns)

In [21]:
data2.head()

item,country,date,inflation_annual%,real_interest_rate,risk_premium_on_lending,doing_business,GDP_current_US,gini_index
0,Afghanistan,1960-01-01,NaN,NaN,NaN,NaN,5.377778e+08,NaN
1,Afghanistan,1961-01-01,NaN,NaN,NaN,NaN,5.488889e+08,NaN
2,Afghanistan,1962-01-01,NaN,NaN,NaN,NaN,5.466667e+08,NaN
3,Afghanistan,1963-01-01,NaN,NaN,NaN,NaN,7.511112e+08,NaN
4,Afghanistan,1964-01-01,NaN,NaN,NaN,NaN,8.000000e+08,NaN

In [22]:
## Filtering countries to only contain data for United States

specific_country = ['United States']

data2[data2['country'].isin(specific_country)]

item,country,date,inflation_annual%,real_interest_rate,risk_premium_on_lending,doing_business,GDP_current_US,gini_index
15961,United States,1960-01-01,1.457976,NaN,1.874167,NaN,5.433000e+11,NaN
15962,United States,1961-01-01,1.070724,3.107885,2.124167,NaN,5.633000e+11,NaN
15963,United States,1962-01-01,1.198773,3.215346,1.721667,NaN,6.051000e+11,NaN
15964,United States,1963-01-01,1.239669,3.374882,1.343333,NaN,6.386000e+11,NaN
15965,United States,1964-01-01,1.278912,2.951669,0.947500,NaN,6.858000e+11,NaN
...,...,...,...,...,...,...,...,...
16019,United States,2018-01-01,2.442583,2.441415,2.965000,NaN,2.053306e+13,41.4
16020,United States,2019-01-01,1.812210,3.427090,3.210833,6.0,2.138098e+13,41.5
16021,United States,2020-01-01,1.233584,2.210411,3.162500,NaN,2.106047e+13,39.7
16022,United States,2021-01-01,4.697859,-1.189357,3.206111,NaN,2.331508e+13,NaN
16023,United States,2022-01-01,8.002800,NaN,NaN,NaN,2.546270e+13,NaN

In [23]:
## Exporting the filtered data only containing United States

f_data2 = data2[data2['country'].isin(specific_country)]
f_data2.to_csv('filtered2.csv')

In [24]:
## Cleaning the filtered data by hiding dataframe index